
.rangslider-content{
    height: initial;
    width: 100%;
    float: left;
}
.rangeslider-content2{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;

}


.rangeslider-price{
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(188, 188, 188, 1);
    position: relative;
    margin-top: 10px;
}


.rangeslider-price .progress{
    height: 3px;
    border-radius: 5px;
    background-color: black;
    left: 0%;
    right: 0%;
    position: absolute;
}


.range-input{
    position: relative;
}
.range-input input{
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
}

.range-input input::-webkit-slider-thumb{
    height: 12px;
    width: 12px;
    pointer-events: auto;
    border: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: black;
}




.rangeslider-inputnum{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.output-num{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.output-num h1{
    width: fit-content;
    border: none;
    text-align: center;
    font-size: 15px;
    margin: 0px 5px 0px 5px;
}
