.wrapper {
    padding-bottom: 100px;

    &__topContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        text-transform: uppercase;
        text-align: center;

        >div {
            height: 2px;
            width: 25%;
            background-color: var(--pink-color);
            margin-top: 5px;
        }
    }

    &__number {
        .noProducts {
            text-align: center;
            margin-top: 10px;

            >h1 {
                font-size: 20px;
            }

            >div {
                margin-top: 6px;

                a {
                    margin-top: 500px;
                    color: var(--pink-color);
                }
            }
        }

        .productOrder {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            padding-bottom: 100px;
            position: relative;

            &__topContent {
                flex: 1;

                >h1 {
                    font-size: 22px;

                    >span {
                        color: var(--pink-color);
                    }
                }

                &_productsWrap {
                    margin-top: 25px;
                }

                &_selectAll {
                    display: flex;
                    margin-top: 10px;
                    justify-content: space-between;

                    .leftSide {
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                    }

                    .rightSide {
                        display: flex;
                        align-items: center;
                        display: none;
                        @media screen and (max-width: 900px) {
                            display: flex;
                        }
                    }
                }
            }

            &__bottomContent {
                margin-top: 50px;
                background-color: white;
                box-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
                display: flex;
                transition: 0.3s ease-in-out;
                bottom: 0;
                width: 100%;
                position: absolute;
                @media screen and (max-width: 900px) {
                    padding: 0;
                }

                .leftSide {
                    flex: 1;
                    display: flex;

                    @media screen and (max-width: 900px) {
                        display: none;
                    }

                    &__button {
                        flex: 1;
                        padding: 15px;
                        font-size: 15px;
                        &:last-child{
                            background-color: goldenrod;
                            border-color: goldenrod;
                        }
                    }
                }

                .rightSide {
                    flex: 2;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;

                    >div {
                        margin-right: 20px;

                        h1 {
                            font-size: 18px;
                        }

                        h2 {
                            display: none;
                        }

                        @media screen and (max-width: 900px) {
                            padding: 10px;
                            width: 50%;
                            margin-right: 0px;

                            h1 {
                                display: none;
                            }

                            h2 {
                                display: block;
                                font-size: 15px;
                                text-align: center;

                                span {
                                    color: var(--pink-color);
                                }
                            }

                        }
                    }

                    &__button {
                        width: 25%;
                        padding: 15px;
                        font-size: 15px;

                        @media screen and (max-width: 900px) {
                            width: 50%;
                            height: 100%;
                        }


                    }

                }
            }
           

            .fixCartBar {
                position: fixed;
                bottom: 0;
                width: 100%;
                left: 0;
                transition: 0.3s ease-in-out;
            }
        }
    }
   
}
