.wrapper {
    margin-bottom: 50px;

    &__topContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        text-transform: uppercase;

        >div {
            height: 2px;
            width: 25%;
            background-color: var(--pink-color);
            margin-top: 5px;
        }
    }

    &__number {
        .noProducts {
            text-align: center;
            margin-top: 10px;

            >h1 {
                font-size: 20px;
            }

            >div {
                margin-top: 6px;

                a {
                    margin-top: 500px;
                    color: var(--pink-color);
                }
            }
        }

        .productOrder {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;

            &__topContent {
                flex: 1;
                >h1 {
                    font-size: 22px;

                    >span {
                        color: var(--pink-color);
                    }
                }

                &_productsWrap {
                    margin-top: 25px;
                }
                &_selectAll{
                    display: flex;
                    margin-left: 10px;
                    margin-top: 10px;
                    align-items: flex-end;
                }
            }

            &__bottomContent {
                margin-top: 50px;
                background-color: white;
                box-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
                display: flex;
                padding: 20px 10px;
                .leftSide{
                    flex: 1;
                    display: flex;
                    &__button{
                        flex: 1;
                        padding: 10px
                    }
                }
                .rightSide{
                    flex: 2;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    >div{
                        margin-right: 20px;
                        h1{
                            font-size: 20px;
                            
                        }
                    }
                    &__button{
                        width: 25%;
                        padding: 10px
                    }
                   
                }
            }
        }
    }
}