.topBlogs__title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

    h1 {
        margin: 0 15px;

    }

    .line {
        height: 1px;
        flex: 1;
        background-color: black;
    }
}


.topBlogs__wrapper {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 35px;

    .item__wrapper {
        flex: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        padding-top: 280px;
        padding-bottom: 120px;
        justify-content: center;
        @media screen and (max-width: 800px) {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .item__content {
            width: 80%;
            background-color: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: var(--box-shadow);
            border-radius: 8px;

            .content__socialMedia {
                display: flex;
                justify-content: center;

                img {
                    margin: 0 6px
                }
            }

            h1 {
                text-align: center;
                padding: 2px 12px;
                font-weight: 600;
                color: white;
                width: max-content;
                align-self: center;
                background-color: #F54253;
                font-size: 17px;
                cursor: pointer;
                margin-top: 20px;
            }

            h2 {
                font-weight: bold;
                font-family: var(--font-pf);
                padding: 0px 20px;
                font-size: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                cursor: pointer;
                transition: 0.4s;
                text-align: center;
                margin-top: 15px;
            }

            h2:hover {
                color: var(--pink-color);
                transition: 0.4s;
            }

            p {
                padding: 0px 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 15px;
                text-align: center;
                margin-top: 10px;
            }

            h3 {
                padding: 0px 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 13px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
    }
}