.app__header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.app__navbar_wrap {
    box-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
    background-color: white;
    padding: 10px 0;

    >div {
        display: flex;
        align-items: center;
    }
}

.app__navbar_toggleField {
    flex: 0.25;
    margin-right: 30px;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: black;
        height: fit-content;
        width: fit-content;
        min-width: 190px;
        justify-content: center;
        padding: 10px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;

        h1 {
            font-size: 15px;
            font-family: var(--font-ssp);
            margin-left: 10px;
            color: white;
        }

        svg {
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
    }

    :hover {
        background-color: rgb(61, 55, 55);
        transition: 0.3s;
    }

}