.wrapper {
    position: relative;

    &__title {
        display: flex;
        align-items: center;

        h1 {
            font-size: 20px;
            color: var(--pink-color);

        }

        svg {
            font-size: 20px;
            margin-right: 10px;
            color: var(--pink-color);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }

        &_contact {
            h1 {
                font-size: 18px;

                +h1 {
                    margin-top: 3px;
                }
            }



            h3 {
                font-weight: normal;
                font-size: 18px;
                margin-top: 3px;
            }


        }

        &_change {
            height: 100%;
            align-self: flex-end;

            @media screen and (max-width: 700px) {
                margin-top: 30px;
            }

            h1 {
                font-size: 18px;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    &__changeAddress {
        display: flex;
        flex-direction: column;

        &_chk {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 20px;

            .item_wrap {
                display: flex;
                justify-content: space-between;

                >div {
                    display: flex;

                    >div {
                        &:last-child {
                            display: flex;
                            flex-wrap: wrap;

                            h1 {
                                font-weight: normal;
                                font-size: 17px;
                                line-height: 30px;

                                @media screen and (max-width: 850px) {
                                    display: none;
                                }
                            }

                            h2 {
                                font-size: 17px;
                                font-weight: normal;
                                margin-left: 10px;
                                display: none;

                                @media screen and (max-width: 850px) {
                                    margin-left: 0;
                                    display: block;
                                    margin-top: 3px;
                                }

                            }

                            h3 {
                                font-size: 17px;
                                font-weight: bold;
                                display: none;

                                @media screen and (max-width: 850px) {
                                    margin-left: 0;
                                    display: block;
                                    margin-top: 3px;
                                }
                            }

                            @media screen and (max-width: 850px) {
                                flex-direction: column;
                            }
                        }

                    }

                }

                >svg {
                    align-self: center;
                    background-color: var(--pink-color);
                    padding: 7px 10px;
                    border-radius: 5px;
                    color: white;
                    margin-left: 12px;
                    cursor: pointer;
                }



                +.item_wrap {
                    margin-top: 10px;
                }
            }
        }

        &_buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            width: 100%;

            .leftSide {
                margin-left: 20px;

                button {
                    width: 50%;
                    min-width: 120px;
                }

                @media screen and (max-width: 700px) {
                    width: 100%;
                }
            }

            .rightSide {
                >svg {
                    display: none;
                }

                @media screen and (max-width: 700px) {
                    position: absolute;
                    top: -18px;
                    right: 0;
                    margin-top: 20px;
                    margin-right: 20px;

                    button {
                        display: none;
                    }

                    >svg {
                        display: flex;
                        font-size: 25px;
                        color: var(--pink-color);

                    }

                    >svg+svg {
                        margin-left: 20px;
                    }
                }
            }

            >div {
                display: flex;

                button {
                    padding: 10px;
                    font-size: 15px;

                    +button {
                        margin-left: 18px;
                    }
                }
            }
        }
    }

    &__noAddress {
        margin-top: 10px;

        h1 {
            font-size: 18px;
            font-weight: normal;
        }

        button {
            margin-top: 10px;
            padding: 10px;
            font-size: 15px;
        }
    }
}