.banner__wrapper {
    position: relative;
    height: 80vh;
    min-height: 500px;
    width: 100%;
    max-height: 1000px;
    .newProducts__button {
        z-index: 1;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 50%;
        >div {
            padding: 15px;
            cursor: pointer;
            transition: 0.2s;
            background-color: white;
            opacity: 0.7;
        }
        @media screen and (max-width: 900px) {
            display: none;
        }
    
        >div:hover {
            transition: 0.2s;
            background-color: var(--pink-color);
            opacity: 1;
        }
    }
    
}


.banner__item_wrapper {
    position: absolute;
    top: 0;
    height: 80vh;
    min-height: 500px;
    max-height: 1000px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top 80% right 0;

    >div {
        position: relative;
        height: 100%;

        .banner__content_wrapper {
            height: 100%;

            .banner__bigTitle {
                padding-top: 30px;
                font-weight: 600;
                letter-spacing: 10px;
                font-size: 25px;
                width: 100%;
                text-align: center;

                @media screen and (max-width: 900px) {
                    text-align: left;
                }
            }

            .banner__leftContent {
                margin-top: 30px;
                width: 100%;

                @media screen and (max-width: 500px) {
                    margin-top: 10px;
                }

                .banner__title {
                    font-size: 40px;
                    font-weight: bold;
                }

                .banner__content {
                    width: 40%;
                    font-size: 17px;
                    margin-top: 15px;
                }
            }

            .banner__alightLeft {
                text-align: left;
            }

            @media screen and (max-width: 900px) {
                .banner__leftContent {
                    .banner__content {
                        width: 100%;
                        font-size: 17px;
                        margin-top: 15px;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                .banner__leftContent {
                    .banner__content {
                        display: none;
                    }
                }
            }
        }

        .banner__button_wrapper {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 25%;
            margin-bottom: 30px;
            flex-direction: column;

            button {
                padding: 15px 10px;
                min-width: 150px;
                color: white;
                border-radius: 25px;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
                margin: 5px 0;
                @media screen and (max-width:340px) {
                    display: none;
                }
            }

            button:first-child {
                width: 100%;
                background-color: var(--pink-color);
                border: none;
                transition: 0.3s;
            }

            button:first-child:hover {
                background-color: white;
                color: black;
                transition: 0.3s;
            }

            button:last-child {
                width: 100%;
                background-color: transparent;
                border: 2px solid white;
                transition: 0.3s;
            }

            button:last-child:hover {
                background-color: white;
                color: black;
                transition: 0.3s;
            }
        }
    }

    .banner__titleColor_black {
        color: black;
    }

    .banner__titleColor_white {
        color: white;
    }

    

}

.banner__dot_wrapper {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 4px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
    }
    .active {
        background-color: var(--pink-color);
        height: 15px;
        width: 15px;
    }
}

#banner0 {
    background-image: url(../../../assets/img_home/banner1.png);
}

#banner1 {
    background-image: url(../../../assets/img_home/banner2.png);
}

#banner2 {
    background-image: url(../../../assets/img_home/banner3.png);
}

#banner3 {
    background-image: url(../../../assets/img_home/banner4.png);
}

#banner4 {
    background-image: url(../../../assets/img_home/banner5.png);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



