.app__flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper {
    width: 100%;
    padding: 0 50px;
    max-width: 1250px;
    margin: auto;

    @media screen and (max-width: 900px) {
        padding: 0 20px;
    }
}

