@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap");

:root {
  --font-ssp: 'Source Sans Pro', sans-serif;
  --font-pf: 'Playfair Display', sans-serif;

  --black-color: #000000;
  --white-color: #FFFFFF;
  --pink-color: #F54253;
  --green-color: #41A139;
  --grey-color: rgb(242, 242, 242);
  --disable-color: rgb(255, 237, 240);

  --box-shadow: 1px 1px 5px rgb(0 0 0 / 40%);

  --grid-template5: repeat(5, minmax(0, 1fr));
  --grid-template1: repeat(1, minmax(0, 1fr));
  --grid-template4: repeat(4, minmax(0, 1fr));
  --grid-template3: repeat(3, minmax(0, 1fr));
  --grid-template2: repeat(2, minmax(0, 1fr));
  --grid-template6: repeat(6, minmax(0, 1fr));
  --grid-template7: repeat(7, minmax(0, 1fr));
  --grid-template8: repeat(8, minmax(0, 1fr));
  --grid-template9: repeat(9, minmax(0, 1fr));
  --grid-template10: repeat(10, minmax(0, 1fr));
  --grid-template11: repeat(11, minmax(0, 1fr));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-ssp);

}



::-webkit-scrollbar {
  width: 12px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink-color);
}

::-webkit-scrollbar-track {
  background: black;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f55666;
}