$font-size: 20px;

.wrapper {
    margin-top: 10px;
    background-color: var(--grey-color);
    padding-top: 20px;
    padding-bottom: 20px;

    &__topContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 830px) {
            flex-direction: column;
        }

        &_note {
            display: flex;
            align-items: center;
            width: 50%;
            @media screen and (max-width: 830px) {
                width: 100%;
            }
            @media screen and (max-width: 400px) {
                flex-direction: column;
                h1{
                    align-self: flex-start;
                }
            }
            

            h1 {
                font-size: 18px;
                font-weight: normal;
                min-width: max-content;
            }

            input {
                margin-left: 10px;
                flex: 1;
                @media screen and (max-width: 400px) {
                    width: 100%;
                    margin-top: 10px;
                    margin-left: 0;
                }
            }
        }

        &_total {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-left: 50px;
            @media screen and (max-width: 830px) {
                width: 100%;
                margin-top: 20px;
                padding-left: 0;
            }
            

            h5{
                font-size: 20px;
            }
            >div {
                margin-top: 5px;
                h3{
                    font-weight: normal;
                    font-size: 18px;
                }

                h4{
                    font-size: 18px;
                }
                display: flex;
                justify-content: space-between;
                h1 {
                    color: var(--pink-color);
                    font-size: $font-size;
                }

                h2 {
                    font-size: $font-size;
                    margin-right: 10px;
                    color: var(--pink-color);
                    
                }
            }

        }


    }

    &__bottomContent{
        display: flex;
        margin-top: 30px;
        justify-content: flex-end;
        button{
            padding: 10px;
            width: 20%;
            @media screen and (max-width: 830px) {
                width: 100%;
            }
        }
      
    }

    .modal{
        height: auto;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 20px;
            margin-top: 15px;
            text-align: center;
        }
        button{
            padding: 10px;
            margin-top: 20px;
        }
    }
}